/admin_icon.svg
/board_icon.svg
/bootstrap-icons.svg
/calendar_icon.svg
/empty.svg
/gantt_icon.svg
/github.svg
/google.svg
/icon-attach.svg
/icon-attachment.svg
/icon-check-o.svg
/icon-check.svg
/icon-link.svg
/icon-tasks.svg
/icon-time.svg
/issues_icon.svg
/jd_fav.png
/jd_logo.png
/loading_spinner.gif
/manage_icon.svg
/microsoft.svg
/mono.png
/mono.svg
/not_found.svg
/notes_icon.svg
/priority-blocker.svg
/priority-high.svg
/priority-low.svg
/priority-normal.svg
/report_icon.svg
