<div id="#logList" #logList class="mx-auto flex flex-col min-w-full">
  <div class="flex flex-col p-6 sm:p-10">
    <mat-card-title class="text-left">Http App Log Details</mat-card-title>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="start left" fxLayoutGap="10px">
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>RecieveDateTime:</strong></div>
          <div fxFlex>{{log?.entryDate | date:'yyyy-MM-dd HH:mm:ss'}}</div>

        </div>
        <div fxLayout="row wrap" fxFlex>
          <div fxFlex><strong>Message:</strong></div>
          <div fxFlex>{{log?.message}}</div>
        </div>

        <mat-tab-group>

        </mat-tab-group>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="w-48 mt-4" mat-raised-button color="primary" (click)="onCancel()">OK</button>
    </mat-card-actions>
  </div>
</div>