/AdminLimitExceededError.ts
/AffectsMultipleDSAsError.ts
/AliasDerefProblemError.ts
/AliasProblemError.ts
/AlreadyExistsError.ts
/AuthMethodNotSupportedError.ts
/BusyError.ts
/ConfidentialityRequiredError.ts
/ConstraintViolationError.ts
/InappropriateAuthError.ts
/InappropriateMatchingError.ts
/InsufficientAccessError.ts
/InvalidCredentialsError.ts
/InvalidDNSyntaxError.ts
/InvalidSyntaxError.ts
/IsLeafError.ts
/LoopDetectError.ts
/NamingViolationError.ts
/NoObjectClassModsError.ts
/NoResultError.ts
/NoSuchAttributeError.ts
/NoSuchObjectError.ts
/NotAllowedOnNonLeafError.ts
/NotAllowedOnRDNError.ts
/ObjectClassViolationError.ts
/OperationsError.ts
/ProtocolError.ts
/ResultCodeError.ts
/ResultsTooLargeError.ts
/SaslBindInProgressError.ts
/SizeLimitExceededError.ts
/StrongAuthRequiredError.ts
/TLSNotSupportedError.ts
/TimeLimitExceededError.ts
/TypeOrValueExistsError.ts
/UnavailableCriticalExtensionError.ts
/UnavailableError.ts
/UndefinedTypeError.ts
/UnknownStatusCodeError.ts
/UnwillingToPerformError.ts
/index.ts
