mat-card, mat-card-content, mat-card-actions {
    text-align: left;
    /*
    width:90%;
    */
}
mat-card-title {
    text-align: center;
}

mat-card-actions{
    text-align: center;
}

mat-card-content{
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

.advanced-color{
    color: #3f51b5;
}

.beginner-color{
    color: #f44336;
}
