/logo-small.png
/logo-text-on-dark.svg
/logo-text-smal.png
/logo-text.png
/logo-text.svg
/logo-text.xcf
/logo.png
/logo.svg
/logo.xcf
/zdslogic-logo-text-transparent.png
/zdslogic-logo-text.png
/zdslogic.png
