/teams-pricing.html
/teams.html
/teamspricing.component-save.html
/teamspricing.component.html
/teamspricing.component.scss
/teamspricing.component.spec.ts
/teamspricing.component.ts
/teamspricing.module.ts
/teamspricing.routing.ts
