/profie-entity-details-update-dialog-dialog.component.ts
/profie-entity-details-update-dialog.component.html
/profie-entity-details-update-dialog.component.scss
/profie-entity-details-update-dialog.component.spec.ts
