/AndFilter.ts
/ApproximateFilter.ts
/EqualityFilter.ts
/ExtensibleFilter.ts
/Filter.ts
/GreaterThanEqualsFilter.ts
/LessThanEqualsFilter.ts
/NotFilter.ts
/OrFilter.ts
/PresenceFilter.ts
/SubstringFilter.ts
/index.ts
