/ZdsLogic-3.0-Beta-Screenshot-2023-04-30-01.png
/ZdsLogic-3.0-Network-Screenshot 2023-03-11 01.png
/ZdsLogic-3.0-Network-Screenshot 2023-03-11 01.xcf
/ZdsLogic-3.0-Project-Management-Home.png
/ZdsLogic-3.0-Project-Management-Home.xcf
/ZdsLogic-3.0-Project-Management-Issues.png
/ZdsLogic-3.0-Project-Management-Issues.xcf
/ZdsLogic-3.0-Project-Management.png
/ZdsLogic-3.0-Project-Management.xcf
/ZdsLogic-3.0-Team-Projects.png
/ZdsLogic-3.0.jpg
/ZdsLogic-3.0.png
/ZdsLogic-3.0.xcf
/ZdsLogic-Article-Screenshot-2022-07-08-1.png
/ZdsLogic-Calendar-Screenshot-2023-06-30-01.png
/ZdsLogic-Calendar-Screenshot-2023-06-30-01.xcf
/ZdsLogic-Collaboration-Screenshot-2022-06-06-01.png
/ZdsLogic-Collaboration-Screenshot-2022-06-08-01.png
/ZdsLogic-Collaboration-Screenshot-2022-06-10-01.png
/ZdsLogic-Collaboration-Screenshot-2022-06-10-02.png
/ZdsLogic-Collaboration-Screenshot-2022-06-16-01.png
/ZdsLogic-Collaboration-Screenshot-2022-06-17-01.png
/ZdsLogic-Collaboration-Screenshot-2022-06-17-02.png
/ZdsLogic-Collaboration-Screenshot-2022-06-18-01.png
/ZdsLogic-Collaboration-Screenshot-2022-06-18-02.png
/ZdsLogic-Collaboration-Screenshot-2022-06-18-03.png
/ZdsLogic-Collaboration-Screenshot-2022-06-18-04.png
/ZdsLogic-Collaboration-Screenshot-2022-06-18-05.png
/ZdsLogic-Collaboration-Screenshot-2022-06-18-06.png
/ZdsLogic-Collaboration-Screenshot-2022-06-20-01.png
/ZdsLogic-Collaboration-Screenshot-2022-06-30-01.png
/ZdsLogic-Collaboration-Screenshot-2022-10-28-01.png
/ZdsLogic-Collaboration-Screenshot-2022-11-14-01.png
/ZdsLogic-Collaboration-Screenshot-2023-02-19-01.png
/ZdsLogic-Collaboration-Screenshot-2023-04-26-01.png
/ZdsLogic-Collaboration-Screenshot-2023-06-30-01.png
/ZdsLogic-Collaboration-Screenshot-2023-06-30-02.png
/ZdsLogic-Collaboration-Screenshot-2023-06-30-03.png
/ZdsLogic-Collaboration-Screenshot-2023-06-30-04.png
/ZdsLogic-Collaboration-Screenshot-2023-06-30-05.png
/ZdsLogic-Collaboration-Screenshot-2023-07-01-01.png
/ZdsLogic-Command-Center-Screenshot 2022-09-13-01.png
/ZdsLogic-Contact-Screenshot-2023-06-30-01.png
/ZdsLogic-EMail-Compose-Screenshot-2023-01-21-01.png
/ZdsLogic-EMail-Compose-Screenshot-2023-01-28-01.png
/ZdsLogic-EMail-Compose-Screenshot-2023-02-07-01.png
/ZdsLogic-EMail-Compose-Screenshot-2023-02-20-01.png
/ZdsLogic-EMail-Inbox-Screenshot-2023-01-19-01.png
/ZdsLogic-EMail-Inbox-Screenshot-2023-01-21-01.png
/ZdsLogic-EMail-Inbox-Screenshot-2023-01-21-02.png
/ZdsLogic-EMail-Inbox-Screenshot-2023-02-07-01.png
/ZdsLogic-EMail-Inbox-Screenshot-2023-02-09-01.png
/ZdsLogic-EMail-Reply-and-Forward-Screenshot-2023-01-29-01.png
/ZdsLogic-EMail-Screenshot-2023-06-30-01.png
/ZdsLogic-Flyer-01.png
/ZdsLogic-Home-Screenshot 2022-06-10-01.png
/ZdsLogic-Home-Screenshot-2023-02-24-01.png
/ZdsLogic-Home-Screenshot-2023-02-27-01.png
/ZdsLogic-Home-Screenshot-2023-02-28-01.png
/ZdsLogic-Home-Screenshot-2023-03-11-01.png
/ZdsLogic-Home-Screenshot-2023-06-30-01.png
/ZdsLogic-Knowledge-Screenshot 2022-09-12-01.png
/ZdsLogic-LandingPage-Screenshot-2022-02-15.png
/ZdsLogic-Logo.png
/ZdsLogic-Map-Screenshot-2022-12-16-01.png
/ZdsLogic-Meeting-And-Messaging-Screenshot-2022-06-12-01.png
/ZdsLogic-Meeting-And-MessagingScreenshot-2022-04-03.png
/ZdsLogic-Meeting-Screenshot-2022-02-21.png
/ZdsLogic-Meeting-Screenshot-2022-02-26.png
/ZdsLogic-Meeting-Screenshot-Richard-Campion-2022-02-27.png
/ZdsLogic-Meeting-Screenshot-Richard-Campion-2022-03-01.png
/ZdsLogic-Meeting-Screenshot-Richard-Campion-2022-06-14-1.png
/ZdsLogic-Meeting-Screenshot-Richard-Campion-2022-06-14.png
/ZdsLogic-Meetings-Calendar-Recurring-Event-Screenshot-2022-03-12-0.png
/ZdsLogic-Meetings-Calendar-Screenshot-2022-03-08-0.png
/ZdsLogic-Meetings-Calendar-Screenshot-2022-03-08-1.png
/ZdsLogic-Meetings-Calendar-Screenshot-2022-03-08-2.png
/ZdsLogic-Meetings-Calendar-Screenshot-2022-03-08-3.png
/ZdsLogic-Meetings-Calendar-Screenshot-2022-03-08.png
/ZdsLogic-Meetings-Calendar-Screenshot-2022-03-16-0.png
/ZdsLogic-Meetings-Calendar-Screenshot-2022-03-16-1.png
/ZdsLogic-Meetings-Calendar-Screenshot-2022-06-10-1.png
/ZdsLogic-Meetings-Calendar-Screenshot-2022-06-16-1.png
/ZdsLogic-Meetings-Calendar-Screenshot-2022-06-30-1.png
/ZdsLogic-Meetings-Screenshot-1-2022-03-04-064546.png
/ZdsLogic-Office.jpg
/ZdsLogic-Presence-Screenshot-2022-02-26.png
/ZdsLogic-Profile-Pages-Screenshot 2023-04-24-01.png
/ZdsLogic-Profile-Pages-Screenshot 2023-04-24-02.png
/ZdsLogic-Profile-Pages-Screenshot 2023-04-24-03.png
/ZdsLogic-Profile-Pages-Screenshot 2023-06-29-01.png
/ZdsLogic-Project-Management-Screenshot 2023-04-02-01.png
/ZdsLogic-Project-Management-Screenshot 2023-04-02-02.png
/ZdsLogic-Projects-Screenshot 2023-06-30-01.png
/ZdsLogic-Resume-Upload-Screenshot-2023-02-21-01.png
/ZdsLogic-Shopping-Admin-Screenshot-2023-02-05-01.png
/ZdsLogic-Shopping-Admin-Screenshot-2023-02-05-02.png
/ZdsLogic-Shopping-Admin-Screenshot-2023-02-05-03.png
/ZdsLogic-Shopping-Admin-Screenshot-2023-02-05-04.png
/ZdsLogic-Shopping-Screenshot-2023-01-08-01.png
/ZdsLogic-Starter-App-Screenshot 2022-09-04-01.png
/ZdsLogic-Swagger-Screenshot-2023-01-14-01.png
/ZdsLogic-Team-Screenshot-2023-06-30-01.png
/ZdsLogic-Teams-Screenshot-2023-03-04-01.png
/ZdsLogic-User-Documents-Screenshot-2022-09-03-1.png
/ZdsLogic-Weather-Screenshot-2022-12-18-01.png
/ZdsLogic-Weather-Screenshot-2022-12-26-01.png
/ZdsLogic-WebPhone-Screenshot-2022-07-07-1.png
/ZdsLogic-Webphone-Screenshot-2023-02-19-01.png
/ZdsLogic-Webphone-Screenshot-2023-02-19-02.png
/ZdsLogic-v2.6-Screenshot 2022-09-15-01.png
/ZdsLogic-v2.6-Screenshot-2022-09-15-01.png
/ZdsLogic-v2.7-Screenshot 2022-09-24-01.png
/ZdsLogic-v2.8-Screenshot 2022-10-22-01.png
/ZdsLogic-v2.8.1-Screenshot 2022-10-27-01.png
/ZdsLogic-v2.8.1-Screenshot 2022-10-30-01.png
/ZdsLogic-v3.0-Screenshot 2023-04-28-01.png
/ZdsLogicTechnologies-Award-2022.jpg
/ZdsLogic_Technologies_Small.png
/background.jpg
/background.xcf
/home_bg.png
/home_bg.xcf
/logo-circle-165x-168.xcf
/small-blue-dot.png
/small-blue-dot.xcf
/small-green-dot-save.png
/small-green-dot-test.xcf
/small-green-dot.png
/small-green-dot.xcf
/small-orange-dot.png
/small-orange-dot.xcf
/small-red-dot-mod.xcf
/small-red-dot-test.xcf
/small-red-dot.jpg
/small-red-dot.png
/small-red-dot.xcf
/small-yellow-dot.png
/small-yellow-dot.xcf
/social-network.png
/welcome-background-orig.png
/welcome-background-orig.xcf
/welcome-background.png
/welcome-background.xcf
/zdslogic-banner-new.png
/zdslogic-banner.png
/zdslogic-banner.xcf
/zdslogic-contact-us.png
/zdslogic-contact-us.xcf
/zdslogic-home-mobile.xcf
/zdslogic-home.gif
/zdslogic-home.jpg
/zdslogic-home.png
/zdslogic-home.xcf
/zdslogic-logo-100x34.png
/zdslogic-logo-100x34.xcf
/zdslogic-logo-1069x361.xcf
/zdslogic-logo-148x50.png
/zdslogic-logo-148x50.xcf
/zdslogic-logo-188x192.png
/zdslogic-logo-188x192.xcf
/zdslogic-logo-299x101.png
/zdslogic-logo-299x101.xcf
/zdslogic-logo-306x103.xcf
/zdslogic-logo-310x105.png
/zdslogic-logo-310x105.xcf
/zdslogic-logo-336x123.xcf
/zdslogic-logo-34x34.png
/zdslogic-logo-34x34.xcf
/zdslogic-logo-535x180.png
/zdslogic-logo-535x180.xcf
/zdslogic-logo-566x191.xcf
/zdslogic-logo-619x209.png
/zdslogic-logo-619x209.xcf
/zdslogic-logo-circle-small.png
/zdslogic-logo-circle-small.xcf
/zdslogic-logo-circle.png
/zdslogic-logo-circle.xcf
/zdslogic-logo.svg
/zdslogic-logo.xcf
/zdslogic-meeting-and-messagingscreenshot-2022-04-3-1916x1136.png
/zdslogic-profile.jpg
/zdslogic-seal.png
/zdslogic-software-development.png
/zdslogic-software-development.xcf
/zdslogic-software-engineering.png
/zdslogic-software-engineering.xcf
/zdslogic-systems-integration.png
/zdslogic-systems-integration.xcf
/zdslogic-website-design.png
/zdslogic-website-design.xcf
/zdslogic_open_source_evangelism_bronze.jpg
/zdslogic_software_development_sdlc_bronze.jpg
/zdslogic_software_engineering_plse.jpg
/zdslogic_systems_integration_bronze.jpg
/zdslogic_web_real_time_communications_bronze.jpg
/zdslogic_web_site_design_waterfall_bronze.jpg
