/app-routing.module.ts
/app.component-new.html
/app.component.html
/app.component.scss
/app.component.spec.ts
/app.component.ts
/app.config.ts
/app.module.ts
/app.resolvers.ts
/app.routes.ts
/app.routing.ts
