/chat-channel-member-selection-list.component.html
/chat-channel-member-selection-list.component.scss
/chat-channel-member-selection-list.component.spec.ts
/chat-channel-member-selection-list.component.ts
