/all.js
/all.min.js
/brands.js
/brands.min.js
/conflict-detection.js
/conflict-detection.min.js
/fontawesome.js
/fontawesome.min.js
/regular.js
/regular.min.js
/solid.js
/solid.min.js
/v4-shims.js
/v4-shims.min.js
